* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(3, 32, 107);
    color: white;
    margin-left: 3rem;
}

h1 {
    text-align: center;
}

#wrapContainer {
    max-width: 80vw;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    max-height: 75%;
}

#DucksContainer {
    border: 5px solid black;
    color: black;
    background-color: rgb(195, 195, 195);
    border-radius: 20px;
    margin-top: 5rem;
    width: 40%;
    min-height: 65vh;
    overflow: scroll;
    overflow-x: hidden;
}

#DucksContainer p{
    margin-left: 1rem;
}

hr {
    border: 1px solid black;
    margin-left: 0.4rem;
}

.deleteBtn {
    width: 35px;
    margin-top: -2rem;
    cursor: pointer;
    margin-left: 27vw;
}

.updateBtn {
    width: 35px;
    cursor: pointer;
    margin-left: 27vw;
}

#DucksContainer a {
    display: inline-block;
    width: 1px;
}

#formContainer {
    border: 5px solid white;
    background-color: rgb(42, 42, 42);
    border-radius: 20px;
    margin-top: 5rem;
    width: 20vw;
    padding-top: 5rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2rem
}

input {
    max-width: 40%;
}

.input {
    margin: auto;
    text-align: center;
    margin-bottom: 1.5rem;
    width: 90%;
}

button {
    border-radius: 20px;
    background-color: rgb(142, 5, 215);
    margin: auto;
    margin-top: 1rem;
    width: 35%;
    font-size: 1.5rem;
    border: 2px solid white;
    color: white;
}

button:hover {
    box-shadow: 0px 0px 10px 5px rgb(255, 0, 230);
    transition: 0.5s;
    border: none;
    cursor: pointer;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #C3C3C3; 
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
